<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head')%>

    <body>
        <section>
            <img src=<%=item.image_url %> alt= <%= item.title %>>
                <h5>
                    <%= item.title %>
                </h5>
                <h4 class="">
                    <%= item.author %>
                </h4>
                <p>
                    <%= item.description %>
                </p>
                <h3>
                    isbn: <%= item.isbn %>
                </h3>

            </section>
        <form action="/delete/<%=item.id%>?_method=delete" method="post" class="btnForm">
            <button type="submit" class="btn">delete</button>
          </form>
        <section id='update_form'>
            <%- include ('edit.ejs') %> 
           </section> 
    </body>

</html>